@model CNW_WebBanQuanAo.Models.SANPHAM
@using CNW_WebBanQuanAo.Models

@{ ViewBag.Title = "Edit";
    }

<h2>Chỉnh sửa sản phẩm</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaQA)

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="control-label col-md-3" for="MaMH">Mã mặt hàng</label>
                    <div class="col-md-9">
                        <select class="form-control valid" id="MaMH" name="MaMH" aria-invalid="false">
                            @foreach (MATHANG mh in ViewBag.MaMH)
                            {
                                if (mh.MaMH.Equals(Model.MaMH))
                                {
            <option selected="selected" value="@mh.MaMH">@mh.TenMH</option>
}
        else
        {
<option value="@mh.MaMH">@mh.TenMH</option>}
                }
                                    </select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="MaMH" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-3" for="MaSize">Size</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="MaSize" name="MaSize">
                                        @foreach (CNW_WebBanQuanAo.Models.SIZE size in ViewBag.MaSize)
                                        {
                                            if (size.MaSize.Equals(Model.MaSize))
                                            {
                                                <option value="@size.MaSize" selected="selected">@size.MaSize</option>
                                            }
                                            else
                                            {
                                                <option value="@size.MaSize">@size.MaSize</option>
                                            }
}
                                    </select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="MaSize" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MaMau, "Màu", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("MaMau", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaMau, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SoLuong, "Số lượng", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input id="btnSubmit" type="submit" value="Lưu" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img id="imgMH" src="~/Content/images/sanpham/@Model.MATHANG.UrlAnh" style="width:150px;" />
                        </div>
                    </div>

                </div>}

<div>
    <a href="/Admin/MATHANG/Details/@Model.MaMH">Quay lại danh sách sản phẩm</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        $("select").change(function () {
            $.ajax({
                url: '/Admin/SANPHAM/GetMHURL/' + $('#MaMH').children("option:selected").val(),
                type: 'POST',
                success: function (data) {
                    $("#imgMH").attr('src', '/Content/images/sanpham/' + data)
                },
                error: function (err) {
                    alert('error roi');
                }
            })
            $.ajax({
                url: '/Admin/SANPHAM/GetSANPHAMQuantity?idMH=' +
                    $('#MaMH').children("option:selected").val() + '&idSize=' +
                    $('#MaSize').children("option:selected").val() + '&idMau=' +
                    $('#MaMau').children("option:selected").val(),
                type: 'POST',
                success: function (data) {
                    alert(data);
                    if (data < 0) {
                        $("#SoLuong").val(0);
                        $("form").attr('action', '/Admin/SANPHAM/Edit');
                        $("#btnSubmit").attr('value', 'Tạo mới');
                    }
                    else {
                        $("#SoLuong").val(data);
                        $("form").attr('action', '/Admin/SANPHAM/Create');
                        $("#btnSubmit").attr('value', 'Lưu');
                    }
                },
                error: function (err) {
                    alert('error roi');
                }
            })
        })
    });
</script>
}
